/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #b8c1ec;
    background: #232946;
}

h1,
h2,
h3 {
    color: #eebbc3;
}

h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    color: #fffffe;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
}

.col {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* TEXT */
.text-center {
    text-align: center;
}

/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
.site-header {
    margin-top: 3rem;
}

/* LESSONS SECTION */
.lessons .col {
    width: 50%;
}

.lessons .col img {
    height: 200px;
    margin-bottom: 1rem;
}

/* STEPS SECTION */
.steps {
    margin: 3rem 0;
    padding: 3rem 0;
    color: #232946;
    background: #eebbc3;
}

.steps h2,
.steps h3 {
    color: #232946;
}

.steps .col {
    width: calc(100% / 3);
}

.steps .col img {
    height: 200px;
    margin-bottom: 1rem;
}

/* WHY US SECTION */
.why-us {
    margin-bottom: 3rem;
}
.why-us .col-left {
    width: 40%;
}

.why-us .col-right {
    width: 60%;
}

.why-us li {
    list-style: none;
    margin-bottom: 2.5rem;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

 /* MEDIABREAK PER DISPOSIIVI MOBILE*/

 @media screen and (min-width:475px){

   .site-header{
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 40px;
   }

   .card{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

   .site-header .text-center, h2, h3, h4, h5, h6{
       margin: 0;
   }

   img {
    max-width: 200px;
   }

   .container{
    width: 100%;
    gap: 40px;
    flex-direction: column;
   }

   .steps .card{
    width: 100%;
    padding: 0;
   }

   .container .col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }

   .text{
    width: 220px;
   }

   .col{
    width: 200%;
   }

   .container .row{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 20px;
   }

   .why-us .col-right{
    text-align: center;
    width: 80%;
   }

 }

  /* MEDIABREAK PER TABLET*/

 @media screen and (min-width:982px) {
    
    .container{
     flex-direction: column;
     width: 100%;
     gap: 40px;
    }
 
    .container .row{
     flex-direction: row;
    }

    .steps .text{
        width: 190px;
    }

    img {
        max-width: 170px;
        padding: 10px;
     }

     .why-us .row .col.col-left{
       align-self: first baseline;
        display: flex;
     }

    .col.col-left img{
        max-width: 300px;
    }

    .col.col-right ul{
        width: 400px;
    }
    
    .lessons .text{
        width: 200px;
    }

    .why-us .col-right{
        text-align: left;
        width: 380px;
       }

    .why-us .row .text{
        width: 300px;
    }

    .col.col-right{
        width: 34%;
    }
  }

   /* MEDIABREAK PER DESKTOP*/

  @media screen and (min-width:1222px) {
    
    .why-us .row .text{
        width: 80%;
    }

    .lessons .text{
        width: 260%;
    }

    .steps .text{
        width: 70%;
    }

    .col.col-right ul{
        width: 70%;
    }
    
    .container .row{
        gap: 10px;
    }

    .row .col{
        width: 80%;
        padding: 10px;
    }

    .col.col-right ul{
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    img{
        max-width: 300px;
    }

    .col.col-left img{
        max-width: 400px;
    }

    .card{
        width: 20%;
    }
  }